<div data-controller="counter" class="min-h-screen bg-gradient-to-br from-green-50 to-blue-100 flex flex-col items-center py-10">
   <% if user_signed_in? %>
  <div class="w-full max-w-4xl px-4 mb-10">
     <% else %>
     <div class="w-full max-w-4xl px-4 mb-24">
       <% end %>
    <div class="flex justify-between items-center">
      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, 
          method: :delete, 
          class: "bg-gradient-to-r from-pink-500 to-orange-500 hover:from-pink-600 hover:to-orange-600 text-white font-semibold py-3 px-8 rounded-full shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-pink-400 focus:ring-offset-2" %>
          <div class="flex justify-end">
            <%= link_to "Saved Sessions", jobs_path(current_user),
              class: "bg-gradient-to-r from-blue-700 to-teal-500 hover:from-blue-800 hover:to-teal-600 text-white font-semibold py-3 px-6 rounded-full shadow-md transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-offset-2 ml-4" %>
          </div>
      <% else %>
        <div class="flex justify-between items-center w-full">
          <div class="flex justify-start">
            <%= link_to "Login", new_user_session_path, 
              class: "bg-gradient-to-r from-blue-500 to-teal-500 hover:from-blue-600 hover:to-teal-600 text-white font-semibold py-3 px-8 rounded-full shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2" %>
          </div>
          <div class="flex justify-center">
            <%= button_to "Create an account to track your progress!", new_user_registration_path, 
              method: :get, 
              class: "bg-gradient-to-r from-purple-600 to-indigo-600 hover:from-purple-700 hover:to-indigo-700 text-white font-semibold py-3 px-8 rounded-full shadow-lg transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-offset-2"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_with(model: @work, class: "w-full max-w-4xl bg-white rounded-xl shadow-md p-8") do |f| %>
    <%= link_to root_path do %>
      <%= image_tag "reset.png", class: "w-12 h-12" %>
    <% end %>

    <div class="flex flex-col items-center mb-8">
      <h3 class="text-lg font-semibold text-gray-700 mb-2">Enter your hourly rate:</h3>
      <%= f.text_field :salary, type: "number",
             placeholder: "  $00.00",
             data: { action: "input->counter#profit input->counter#limitInputLength", counter_target: "salary" },
             class: "bg-white border border-gray-300 text-2xl text-gray-700 rounded-md focus:ring-emerald-500 focus:border-emerald-500 text-center p-3 w-2/3 max-w-sm" %>
    </div>

    <div class="grid grid-cols-3 gap-6 items-center">
      <%= f.text_field :profit,
           data: { counter_target: "earn" },
           value: "$00.00",
           readonly: true,
           class: "bg-white border border-gray-300 text-center text-3xl text-gray-700 rounded-lg shadow-md p-6 w-full" %>

      <div class="bg-white border border-gray-200 rounded-lg shadow-md p-6 text-center">
        <button data-action="counter#toggleStartStop counter#avoidSaving"
                data-counter-target="startStop"
                type="button"
                class="text-white bg-red-600 hover:bg-red-500 font-medium rounded-md px-6 py-3 mb-4">
          Start
        </button>
        <%= f.text_field :time, value: "  00:00:00",
           readonly: true,
           data: { counter_target: "stopwatch" },
           class: "bg-gray-100 border border-gray-300 text-4xl text-gray-800 rounded-lg block w-full p-4 shadow-md" %>
      </div>
      <%= f.text_field :hours,
           value: "0 hours completed",
           data: { counter_target: "hours" },
           readonly: true,
           class: "bg-white border border-gray-300 text-center text-2xl text-gray-700 rounded-lg shadow-md p-6 w-full" %>
    </div>

    <div class="flex justify-center mt-8">
      <%= f.submit "Save session",
           data: { counter_target: "save" },
           class: "bg-emerald-500 hover:bg-emerald-400 text-white font-semibold py-3 px-6 rounded-full shadow-md" %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="flex justify-center mt-10">
      <%= link_to "Projects", projects_path, class: "bg-green-600 hover:bg-green-700 text-white font-bold text-2xl py-4 px-8 rounded-full shadow-lg" %>
    </div>
  <% end %>
</div>
